---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ mongodb_configmap_name }}
  namespace: {{ namespace }}
data:
  mongod.conf: |
    # Put mongod.conf configuration here
#    storage:
#      dbPath: /data/db
#    net:
#      port: {{ port }}
#{% if tls_enabled %}
#      ssl:
#        mode: requireSSL
#        CAFile: /ca/tls.crt
#        PEMKeyFile: /work-dir/mongo.pem
#{% endif %}
#    replication:
#      replSetName: {{ replicaSetName }}
#{% if auth_enabled %}
#    security:
#      authorization: enabled
#      clusterAuthMode: x509
#{% endif %}
#